<h3>Winners</h3>
<li ng-repeat="top in tops | orderBy: top.won">
      <ul>{{top.won}} {{top.winner}}</ul>
    </li>


<h3>Games</h3>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
     <th>GAME</th>
      <th>WINNER</th>
      <th>LOOSER</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   
    <tr ng-repeat="score in scores">
     <td>{{scores.length - $index }}</td>
      <td>{{score.winner}}</td>
      <td>{{score.looser}}</td>
    </tr>
  </tbody> 
</table>
<div class="well">
  <a class="btn btn-default" ng-href="#/new">New</a>
</div>
